a,
a:not(.wp-element-button) {
	text-decoration-color: var(--wp--preset--color--secondary);
	text-decoration-thickness: 3px;
	text-underline-offset: 0.2em;
	transition: text-underline-offset 200ms;
}

a:active,
a:focus,
a:hover,
a:hover:not(.wp-element-button) {
	text-decoration-color: var(--wp--preset--color--secondary);
	text-decoration-thickness: 3px;
	text-underline-offset: 0.4em;
}

a:where(:not(.wp-element-button))[target="_blank"]:after {
	font: 23px/23px dashicons;
	content: "\f504";
	position: relative;
	padding-left: 3px;
	display: inline-block;
	text-decoration: none;
	vertical-align: text-bottom;
}

/* Media query only for screens smaller than 482px */
@media only screen and ( max-width: 482px ) {
	.post-type-archive-jetpack-portfolio main {
		padding-left: 0;
		padding-right: 0;
	}
}

.post-type-archive-jetpack-portfolio .wp-post-image {
	filter: blur( 0.6rem );
	transition: filter 0.3s ease-in-out;
}

.post-type-archive-jetpack-portfolio .wp-block-cover__background:hover + .wp-post-image {
	filter: blur( 0 );
}

