<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

		<!-- wp:heading {"textAlign":"right","level":1} -->
		<h1 class="wp-block-heading has-text-align-right">Web Designer, Web Developer and Ecommerce Tech Specialist.</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>👋 I’m Giacomo, Web Developer and Ecommerce Tech Specialist.</p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph -->
		<p>I have more than 10 years of professional software engineering experience, currently located in Modena, Italy serving Digital Boîte as tech business analyst.&nbsp;</p>
		<!-- /wp:paragraph -->


		<!-- wp:paragraph -->
		<p>WordPress Enthusiast: I have designed quite a lot of Websites. and now I'm working on WordPress Block based themes.</p>
		<!-- /wp:paragraph -->

		<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"right"}} -->
		<div class="wp-block-buttons">
			<!-- wp:button {"className":"is-style-outline"} -->
			<div class="wp-block-button is-style-outline">
				<a class="wp-block-button__link wp-element-button" href="https://resume.giacomosecchi.com">
				View my Curriculum Vitae
				</a>
			</div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->

		<!-- wp:social-links {"iconColor":"cyan-bluish-gray","iconColorValue":"#abb8c3","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"right"}} -->
		<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://github.com/giacomo-secchi","service":"github"} /-->

		<!-- wp:social-link {"url":"https://www.linkedin.com/in/giacomosecchi/","service":"linkedin"} /-->

		<!-- wp:social-link {"url":"giacomo.secchi@gmail.com","service":"mail"} /-->

		<!-- wp:social-link {"url":"https://www.instagram.com/jackilsaltatore/","service":"instagram"} /-->

		<!-- wp:social-link {"url":"https://getpocket.com/@giacomo.secchi","service":"pocket"} /--></ul>
		<!-- /wp:social-links -->

		<!-- wp:quote {"className":"is-style-default"} -->
		<blockquote class="wp-block-quote is-style-default"><!-- wp:paragraph -->
		<p><strong>Simplicity is the ultimate sophistication.</strong></p>
		<!-- /wp:paragraph --><cite>—Leonardo da Vinci</cite></blockquote>
		<!-- /wp:quote -->

	<!-- wp:query {"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-query alignwide">
		<!-- wp:post-template {"align":"wide"} -->
			<!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"clamp(15vw, 30vh, 400px)","align":"wide"} /-->
			<!-- wp:post-title {"isLink":true,"align":"wide"} /-->
			<!-- wp:post-excerpt /-->
			<!-- wp:post-date {"isLink":true} /-->

			<!-- wp:spacer {"height":"var(--wp--preset--spacing--70)"} -->
			<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
		<!-- /wp:post-template -->

		<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

