<!-- wp:html -->
<div  id="scene" class="scene">
    <div data-depth="0.2" class="layer"><div class="background"></div></div>
    <div data-depth="0.2" class="layer">
      <!-- wp:heading -->
<h2 class="wp-block-heading">Giacomo Secchi</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>👋 I’m Giacomo, Web Developer and Ecommerce Tech Specialist.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I have more than 10 years of professional software engineering experience, currently located in Modena, Italy serving Simply Wall St as a senior software engineer.&nbsp;</p>
<!-- /wp:paragraph -->


<!-- wp:paragraph -->
<p>WordPress Enthusiast: I have designed quite a lot of Websites. and now I'm working on WordPress Block based themes.</p>
<!-- /wp:paragraph -->
    </div>
    <div data-depth="0.1" class="layer"><div class="pyramyds"></div></div>
    <div data-depth="0.2" class="layer"><div class="camel"></div></div>

    
  </div>
  <!-- /wp:html -->